select {
  box-sizing: border-box;
  padding: 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  width: 95px;
  margin: 30px 5px;
  box-shadow: 0px 0px 10px 1px lightgrey;
  outline: none;
  transition: linear 0.2s;
  appearance: none;
  color: inherit;

  option {
    color: black;
  }

  &:focus {
    box-shadow: 0px 0px 10px 1px #8360c3;
  }

  &.placeholder {
    color: grey;
  }
}
